.todoapp {
	display: flex;
	justify-content: center;

    .todos-container {
        background: #fff;
        position: relative;
        min-width: 40vw;
        max-width: 60vw;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.1);
        
        @media screen and(max-width: 1200px) {
            min-width: 60vw;
            max-width: 80vw;
        }
    }

}