
.todos-container {
    background: #fff;
    position: relative;
    min-width: 40vw;
    max-width: 60vw;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);

    .list-container {
        position: relative;
        z-index: 2;
        border-top: 1px solid #e6e6e6;
    }
}