.header {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  padding: 80px 40px;
  position: sticky;
  top: 0;
  z-index: 1;
  
  @media screen and(max-width: 800px) {
    padding: 12px 20px;
  }
  
  .logo-container {
    width: 27%;
    
    
    @media screen and(max-width: 1200px) {
      width: 36%;
    }
    @media screen and(max-width: 800px) {
      width: 56%;
      padding: 30px 10px;
    }
  }

  .logo {
    opacity: 0.16;
  }
}